body {
background-color: rgb(31, 37, 54);

}
.container{
display: flex;
justify-content: center;
margin-top: 20px;         
}
h1 {
font-family: "Arial";
font-weight: normal;
font-size: 40px;
color: white;
text-align: center;
margin-bottom: 40px;
margin-top: 40px;
}

.box {
grid: flex;
height: auto;
background-color: rgb(226, 224, 221);
border-radius: 5px; 
padding: 20px;
}

.grid-box {
display: grid;
width: 60vw;
grid-template-rows: repeat(6, 1fr);
grid-template-columns: repeat(2, 1fr);
gap: 15px;
}



input {
padding: 10px;
}

.checkbox {
border-radius: 5px;
}

.a {
grid-row: 1;
font-size: 20px;
margin: 10px;
}

.b {
grid-row: 2;
font-size: 20px;
margin: 10px;
}

.c {
grid-row: 3;
font-size: 20px;
margin: 10px;
}

#color.textfield {
grid-row: 1;
grid-column: 2;
border-radius: 5px;
margin: 10px;
box-shadow: 2px 2px 3px #000000;
}

#content.textfield {
grid-row: 2;
grid-column: 2;
border-radius: 5px;
margin: 10px;
box-shadow: 2px 2px 3px #000000;
}

.checkbox {
grid-row: 3;
grid-column: 2;
border-radius: 5px;
justify-self: start;
margin: 10px;
background-color: red;
box-shadow: 2px 2px 3px #000000;
}
.button {
grid-row: 4;
grid-column: 1;
width: 35%;
border-radius: 5px;
font-size: 20px;
margin: 10px;
box-shadow: 2px 2px 3px #000000;
}
div.div {
font-family: Arial;
color: rgb(67, 65, 65);
grid-row: 5 / 7;
grid-column: 1 / 3; 
border-color: black;
border-style: double;
margin: 10px;
box-shadow: 2px 2px 3px #000000;
}
